* {
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
}
b {
    font-weight: 500;
}
h3 {    
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 40px;
    color: #33317F;
}
 
.navbar-brand{
    img{
        width: 90px;
        transition: .4s ease-in-out;
    }
  }
  
  .navbar{
  background: transparent !important;
  transition: 0.5s;
  }
  .navbar.scrolled{
  background: white !important;
    transition: 1s;
    box-shadow: 0px 3px #26DCA2;
    .navbar-brand{
        img{
            width: 80px;
        }
    }
  }
  
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background-color: #fafafa;
    color: #08bfbd;
    
  }
  
  .navbar-light .navbar-nav .active>.nav-link:hover {
  color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link
  {
    color: #1D293F;
  }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus
  {
   color: #33317F;
  }
  .navbar-light .navbar-brand,
  .navbar-light .navbar-brand:hover,
  .navbar-light .navbar-brand:focus,
  .navbar-light .navbar-brand:visited
  {
    color: #33317F;
    font-size: 1rem;
    font-weight: 300;
  }
  
.box_img img{
        border-radius: 50%;
        border-width: 4px;
        padding: 4px;
        border-style: solid;
        border-top-color: #26DCA2;
        border-right-color: #73a8a8;
        border-bottom-color: #26DCA2;
        border-left-color: #196C6C;
        vertical-align: middle;    
}
 
.img__name {
    font-family: Merriweather;
    color: #071c4d;
    font-size: 20px;
    margin-top: 30px;
}

.small__text{
    margin-top: 3px;
    font-size: 16px;
    color: #8B8383;
}

.content-box {
    margin-top: 30px;
    background-color: #f0f3f6;
    border-radius: 11px;
    padding: 50px;
    .information {
        background: #fff;
        padding: 30px;
        border-radius: 11px;
        .text-blue {
            color: #2b50b4!important;
        }
        table {
            th {
                font-weight: 600;
                font-family: Merriweather;
            }
        }
        .text_orange{
            color: #ff9e53;
        }
    }
}

.btn-background{
    width: 200px;
    background: #17c08b;
    color:white;
    padding:15px;
    border: 2px solid #17c08b;
    transition: .3s ease-in-out;
    &:hover{
        background: #1ee6a7;
        color:white;
        padding:15px;
        border: 2px solid #1ee6a7;
    }
}

.btn-border{
    width: 200px;
    border: 2px solid #17c08b;
    color:#17c08b;
    padding:15px;
    background: #fff;
    transition: .3s ease-in-out;
    &:hover {
    border: 2px solid #17c08b;
    color:white;
    padding:15px;
    background: #17c08b;
    }
}

.kotak-atas {
    width: 100%;
    height: 360px;
    background: #DCFAF1;
  }

  .box-content {
    margin-top: -200px !important;
    background: #fff;
    overflow: auto;
    width: 100%;
    border: 1px solid#EDEDED;
    padding: 30px;
    border-radius: 7px;
  }

  
.section-footer{
    color:#071c4d !important;
    a {
        padding: 0.2em 1em;
        color:#071c4d;
        width: 200px !important;
        &:hover,&:focus{
            color: #26DCA2;
            &::before{
                font-family: 'Font Awesome 5 Free';
                content: '\f35d';
                font-weight: 600;
            }
        }
    }

    span {
        padding: 0.2em 1em;
        color:#071c4d;
        width: 200px !important;
        &:hover{
            color: #26DCA2;
        }
    }
    
    .text-maps{
        margin-top: 5px;
        color: #A1A1A1;
    }
    .btn-link{
        color: #18165D;
        &:hover,&:focus {
            color: #26DCA2;
        }
    }
    .btn-link:focus,
    .btn-link:hover{
        box-shadow: none;
    }

}